<button type="button" name="button"><%= link_to "Back", jobs_path %></button>

<h1><%= @job.title %></h1>

<div class="card">
  <div class="card-body">
    <p>Company: <%= @job.company %></p>
    <p>Location: <%= @job.location %></p>
    <p><%= @job.url %></p>
    <p>Posting date: <%= @job.post_date %></p>
    <p>Your rating: <%= @job.rating %>/10</p>
  </div>
</div>
