<br><br>
<button class="btn btn-warning"><%= link_to "Back", jobs_path %></button>
<button class="btn btn-danger"><%= link_to "Remove this job", job_path(@job),
                         :data => {:confirm => "Are you sure?",
                                   :method => "delete"} %></button>

<h1><%= @job.title %></h1>

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Company: <%= @job.company %></h4>
    <h5 class="card-title">Location: <%= @job.location %></h5>
    <p class="card-text"><%= @job.url %></p>
    <p class="card-text">Posting date: <%= @job.post_date %></p>
    <p class="card-text">Your rating: <%= @job.rating %>/10</p>
  </div>
</div>
<hr>
<div class="card">
  <h4>Your steps for this job:</h4>
  <div class="card-body">
    <ul class="list-group">
      <% @steps.each do |step| %>
        <li class="list-group-item">
          <%= step.description %>
          <%= link_to "mark complete", job_step_path(@job, step), :method => :put %>
        </li>
      <% end %>
    </ul>
    <button type="button" name="button"><%= link_to "Add a step", new_job_step_path(@job)  %></button>
  </div>
</div>
